
<table-component [url]="'/user/index_patient'" [reload]="reload" [headers]="headers" (handleActionEmit)="handleActionEmit($event)"></table-component>

<div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-paralysis-disability'"
    [view]="'accent'"
    [square]="true"
    [tcShape]="500"
    (click)="createPatient()"
  ></button>
</div> 

<!-- Modal window -->
<ng-container  *ngIf="patientForm">
  <ng-template #modalBody>
    <form [formGroup]="patientForm" novalidate>

      <tc-form-group>
        <span class="tc-placeholder"><b>Cedula</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Cedula'" formControlName="id_card"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Nombre</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Nombre'" formControlName="name"></tc-input>
      </tc-form-group>
      
      <tc-form-group>
        <span class="tc-placeholder"><b>Apellido</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Apellido'" formControlName="last_name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Email</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Email'" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Tipo</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Tipo'" formControlName="type"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Dirección</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Dirección'" formControlName="address"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Teléfono</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Teléfono'" formControlName="phone"></tc-input>
      </tc-form-group>


      <tc-form-group>
        <span class="tc-placeholder"><b>Genero</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Genero'" formControlName="gender"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Fecha de nacimiento</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Fecha de nacimiento'" formControlName="date_of_birth"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Mensaje</b></span>
        <tc-textarea [disabled]="true" [placeholder]="'Mensaje'" formControlName="message"  ></tc-textarea>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Estatus</b></span>
        <tc-select
        [placeholder]="'Selecciona un estatus'"
        [options]="statuses"
        [selected]="patientForm.value.status"
        formControlName="status"
      ></tc-select>
    </tc-form-group>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Salir</button>
      <button tc-button [view]="'accent'" [disabled]="patientForm.invalid" (click)="createUser(patientForm)">
       Crear usuario y asignar cita
       </button>
      <button tc-button [view]="'info'" [disabled]="patientForm.invalid" (click)="savePatient(patientForm)">
       Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
