<tc-card class="mb-0">
  <tc-table [rows]="appointments" [hovered]="true" [pagination]="true">
    <tc-table-col [columnTitle]="'Fotos'" [columnName]="'img'">
      <ng-template #tableTDTemplate let-value>
        <tc-avatar [src]="value"></tc-avatar>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Nombre'" [columnName]="'name'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Correo'" [columnName]="'email'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-email'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon> {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Fecha'" [columnName]="'date'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Hora'" [columnName]="'fromTo'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="nowrap" [tcColor]="'#a5a5a5'">{{ value }}</span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Teléfono'" [columnName]="'number'">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          <tc-icon [iconClass]="'icofont-ui-cell-phone'" [tcFontSize]="16" [padding]="0" class="mr-1"></tc-icon>
          {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Doctor'" [columnName]="'doctor'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Condición'" [columnName]="'injury'" [enableSorting]="true"></tc-table-col>
    <tc-table-col [columnTitle]="'Acciones'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button
            tc-button
            [afterIcon]="'icofont-ui-edit'"
            [view]="'info'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="edit(row)"
          ></button>

          <button
            tc-button
            [afterIcon]="'icofont-ui-delete'"
            [view]="'error'"
            [square]="true"
            [tcShape]="500"
            [size]="'sm'"
            (click)="remove(row)"
          ></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>

<div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-stethoscope-alt'"
    [view]="'accent'"
    [square]="true"
    [tcShape]="500"
    (click)="openModal(modalBody, 'Crear cita medica', modalFooter)"
  ></button>
</div>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="appointmentForm" novalidate>
      <tc-form-group class="avatar-box d-flex">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>

        <tc-avatar [src]="appointmentForm.value.img"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true" (click)="fileInput.click()">
         Seleccionar imagen
        </button>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Nombre'" formControlName="name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-autocomplete [placeholder]="'Personal medico'" [data]="doctors" [key]="'name'" formControlName="doctor"></tc-autocomplete>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Correo'" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Fecha'" formControlName="date"></tc-input>
      </tc-form-group>

      <div class="row">
        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="'Tiempo desde'" formControlName="from"></tc-input>
          </tc-form-group>
        </div>

        <div class="col col-md-6">
          <tc-form-group>
            <tc-input [placeholder]="'Tiempo hasta'" formControlName="to"></tc-input>
          </tc-form-group>
        </div>
      </div>

      <tc-form-group>
        <tc-input [placeholder]="'Teléfono'" formControlName="number"></tc-input>
      </tc-form-group>

      <tc-form-group class="mb-0">
        <tc-input [placeholder]="'Condición'" formControlName="injury"></tc-input>
      </tc-form-group>
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" [disabled]="appointmentForm.invalid" (click)="addAppointment(appointmentForm)">
        Añadir cita medica
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
