
<table-component [url]="'/contacts'" [reload]="reload" [headers]="headers" (handleActionEmit)="handleActionEmit($event)"></table-component>

<!-- Modal window -->
<ng-container *ngIf="appointmentForm" >
  <ng-template #modalBodyContact>
    <form [formGroup]="appointmentForm" novalidate>
      <tc-form-group>
        <span class="tc-placeholder"><b>Medico</b></span>
        <tc-select
        [placeholder]="'Selecciona un medico'"
        [options]="doctors"
        [selected]="appointmentForm.value.medical_staff_id"
        formControlName="medical_staff_id"
        (valueSelected)="handleMedicSelected($event)"
        ></tc-select>
      </tc-form-group>
      <tc-form-group>
        <span class="tc-placeholder"><b>Ubicación</b></span>
        <tc-select
        [placeholder]="'Selecciona una Ubicación'"
        [options]="workspaces"
        [selected]="appointmentForm.value.user_workspace_id"
        formControlName="user_workspace_id"
        ></tc-select>
      </tc-form-group>
      <tc-form-group>
        <span class="tc-placeholder"><b>Fecha de cita</b></span>
        <tc-datepicker
        [placeholder]="'Fecha de cita'"
        formControlName="date"
        [min]="minDate"
        [pickerType]="'both'"
      ></tc-datepicker>
      </tc-form-group>
      <tc-form-group>
        <span class="tc-placeholder"><b>Condición</b></span>
        <tc-input  formControlName="condition" [disabled]="true"></tc-input>
      </tc-form-group>
    </form>
  </ng-template>
  <ng-template #modalFooterContact>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Salir</button>
      <button tc-button [view]="'info'" [disabled]="appointmentForm.invalid" (click)="saveAppointment(appointmentForm)">
       Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->

<!-- Modal window -->
<ng-container *ngIf="contactForm">
  <ng-template #modalBody>
    <form [formGroup]="contactForm" novalidate>

      <tc-form-group>
        <span class="tc-placeholder"><b>Cedula</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Cedula'" formControlName="id_card"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Nombre</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Nombre'" formControlName="name"></tc-input>
      </tc-form-group>
      
      <tc-form-group>
        <span class="tc-placeholder"><b>Apellido</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Apellido'" formControlName="last_name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Email</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Email'" formControlName="email"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Tipo</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Tipo'" formControlName="type"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Dirección</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Dirección'" formControlName="address"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Teléfono</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Teléfono'" formControlName="phone"></tc-input>
      </tc-form-group>


      <tc-form-group>
        <span class="tc-placeholder"><b>Genero</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Genero'" formControlName="gender"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Fecha de nacimiento</b></span>
        <tc-input  [disabled]="true" [placeholder]="'Fecha de nacimiento'" formControlName="date_of_birth"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Mensaje</b></span>
        <tc-textarea [disabled]="true" [placeholder]="'Mensaje'" formControlName="message"  ></tc-textarea>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Estatus</b></span>
        <tc-select
        [placeholder]="'Selecciona un estatus'"
        [options]="statuses"
        [selected]="contactForm.value.status"
        formControlName="status"
      ></tc-select>
    </tc-form-group>
    </form>
  </ng-template>
  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Salir</button>
      <button tc-button [view]="'accent'" [disabled]="contactForm.invalid" (click)="createUser(contactForm)">
       Crear usuario y asignar cita
       </button>
      <button tc-button [view]="'info'" [disabled]="contactForm.invalid" (click)="saveContact(contactForm)">
       Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
