

<tc-form-group *ngIf="search">
  <div class="col-md-12" style="display: flex;">
    <div class="col-md-10">
      <tc-input
      [ngModel]="searchText" 
      (ngModelChange)="changeSearch($event)"
      [placeholder]="'Buscar'"
      [suffixIcon]="'icofont-search-document'"
    ></tc-input>
    </div>
    <div class="col-md-2">
      <button
      tc-button
      [beforeIcon]="'icofont-search'"
      (click)="submitSearch()"
    >Buscar</button>
    </div>
  </div>
 </tc-form-group>
<div class="row">
  
  <div class="col-12 col-md-4" *ngFor="let specialty of specialties; let i = index; let l = last">
    
    <tc-specialty-card
    (handleAction)="handleAction($event)"
      [data]="specialty"
      [ngClass]="{ 'mb-0': l, 'mb-md-0': (i + 2) === specialties.length || (i + 3) === specialties.length }"
    ></tc-specialty-card>
  </div>
</div>
<tc-pagination
  *ngIf="pagination && pagesCount > 1"
  [pagesNumber]="pagesCount"
  [pageNum]="page"
  (goToPage)="goToPage($event)"
></tc-pagination>

<div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-nurse'"
    [square]="true"
    [tcShape]="500"
    (click)="createSpecialty()"
  ></button>
</div>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="specialtyForm" novalidate class="new-specialty-form">
      <tc-form-group class="avatar-box">
        <input type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput hidden>
        <tc-avatar [src]="specialtyForm.value.picture ? specialtyForm.value.picture : 'assets/content/avatar.jpeg'"></tc-avatar>
        <button tc-button [type]="'button'" [afterIcon]="'icofont-ui-user'" [view]="'accent'" [outline]="true" (click)="fileInput.click()">
          Seleccionar imagen
        </button>
      </tc-form-group>
      <tc-form-group>
        <span class="tc-placeholder"><b>Nombre</b></span>
        <tc-input  formControlName="name"></tc-input>
      </tc-form-group>

      <tc-form-group>
        <span class="tc-placeholder"><b>Dirección</b></span>
        <tc-textarea  formControlName="description"></tc-textarea>
      </tc-form-group>
  
    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancelar</button>
      <button tc-button [view]="'info'" [disabled]="specialtyForm.invalid" (click)="saveSpecialty(specialtyForm)">
       Guardar
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->
