<!-- sign in start -->
<section class="authentication-form">
  <div class="innerpage-decor">
  </div>
  <div>
    <h2 class="title text-center"><span> Recuperar contraseña</span></h2>
    <p class="text-center"></p>
    <div class="card">
      <form [formGroup]="recoverPasswordForm" (ngSubmit)="handleSubmit()" class="theme-form">
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" placeholder="Correo" >
          <span
          *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required"
        >
          Correo es requerido
        </span>
        <span
          *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email"
        >
          El valor tiene que ser un email valido
        </span>
        </div>
        <div class="form-button text-center">
         <button 
         type="submit"  
         class="btn btn-custom btn-lg theme-color">Recuperar contraseña</button>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- sign in end-->
